@{
    ViewBag.Title = "Search Course";
    ViewBag.Controller = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Conclusion Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

@section scripts {
    
}
